#scroller::-webkit-scrollbar {
	display: none;
}
#scroller {
	overflow-x: scroll;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
	width: 100vw;
	height: fit-content;
}
#posts {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	position: relative;
	padding: 0 calc(50vw - (var(--postsz) + 2*var(--postpad) + 2*var(--postmar))/2);
	width: fit-content;
	height: calc(100vh - 48px);
}
.post {
	z-index: 96;
	position: relative;
	margin: var(--postmar);
	outline: 0px solid var(--bg);
	outline-radius: 16px;
	border-radius: 16px;
	padding: var(--postpad);
	padding-bottom: 32px;
	width: var(--postsz);
	height: fit-content;
	background-color: var(--bg);
	color: var(--sf);
	transform: scale(1);
	transition:
		outline ease 0.25s,
		background-color ease 0.25s,
		transform ease 0.25s;
}
/* this will only be used when a post isn't selected */
div[class="post"]:hover {
	outline: 1px solid var(--hg);
	background-color: var(--lg);
	cursor: pointer;
}
.post img {
	display: block;
	outline: 1px solid var(--hg);
	border-radius: 8px;
	width: var(--postsz);
	height: var(--postsz);
	object-fit: cover;
	background-color: var(--bg);
}
.post p {
	line-height: 16px;
	font-size: 8pt;
}
.post h3 {
	margin-top: 8px;
	margin-bottom: 2px;
	font-size: 6pt;
	font-weight: 400;
	color: var(--hl);
}
.post a {
	visibility: hidden;
	position: absolute;
	bottom: 12px;
	right: 12px;
	border: 0;
	border-radius: 10px;
	padding: 5px 8px;
	background-color: var(--hg);
	color: var(--primary);
	font-size: 8pt;
	font-weight: 400;
	line-height: 10px;
	transition:
		background-color ease 0.25s,
		color ease 0.25s;
}
.post a:hover {
	background-color: var(--primary);
	color: var(--fg);
	cursor: pointer;
}
.post.select {
	z-index: 97;
	outline: 2px solid var(--hl);
	transform: scale(1.5);
}
.post.select, div[class="post"]:hover p {
	color: var(--fg);
}
.post.select h3, div[class="post"]:hover h3 {
	color: var(--sf);
}
.post.select a {
	visibility: visible;
}
