#root {
	overflow-x: scroll;
	scroll-behavior: smooth;
	position: relative;
	width: 100vw;
	height: calc(100vh - 64px);
}
#btn-prev, #btn-next {
	z-index: 98;
	position: fixed;
	top: 50%;
	outline: 1px solid var(--hl);
	background-color: var(--hl);
	box-shadow: 0 0 4px 2px var(--bg);
	transition:
		outline ease 0.25s,
		background-color ease 0.25s,
		box-shadow ease 0.25s;
}
#btn-prev:hover, #btn-next:hover {
	outline: 2px solid var(--fg);
	background-color: var(--sf);
	box-shadow: 0 0 8px 4px var(--bg);
}
#btn-prev {
	left: calc(max(50% - 256px, 32px));
	transform: translate(-50%, -50%);
}
#btn-next {
	right: calc(max(50% - 256px, 32px));
	transform: translate(50%, -50%);
}
.padding-post {
	position: absolute;
	top: 50%;
	width: calc(max(50vw - 256px, 128px));
	height: 32px;
	background-color: transparent;
}
.post {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	position: absolute;
	top: 50%;
	margin: 8px;
	outline: 0px solid var(--bg);
	border-radius: 16px;
	padding: 16px;
	padding-bottom: 48px;
	width: 256px;
	height: fit-content;
	background-color: var(--bg);
	color: var(--sf);
	transform: translate(-50%, -50%) scale(0.66);
	transition:
		outline ease 0.25s,
		transform ease 0.25s;
}
.post img {
	outline: 1px solid var(--hg);
	border-radius: 8px;
	aspect-ratio: 1/1;
	width: 100%;
	object-fit: cover;
	background-color: var(--bg);
}
.post p {
	display: block;
	margin-top: 12px;
	line-height: 20px;
	font-size: 12pt;
}
.post h3 {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: var(--hl);
	font-size: 10pt;
	font-weight: 400;
}
.post.select {
	z-index: 97;
	outline: 2px solid var(--hl);
	color: var(--fg);
	transform: translate(-50%, -50%) scale(1);
}
.post.select h3 {
	color: var(--sf);
}
