.post {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	padding: 0;
	padding-bottom: 16px;
	height: calc(100vh - 16px - 65px);
}
#post-desc {
	padding: 16px;
	width: calc(min(100vw - 32px, 768px));
}
#post-desc img {
	display: block;
	margin: auto;
	border: 1px solid var(--sh);
	height: 256px;
	background-color: var(--mg);
}
#post-desc p {
	display: block;
	margin: 16px 0;
	font-size: 14pt;
	font-weight: 400;
}
#post-desc h3 {
	display: block;
	margin: 16px 0;
	color: var(--sh);
	font-size: 12pt;
	font-weight: 400;
}
section.comment-box {
	flex-grow: 1;
	position: relative;
	padding: 0 16px;
	width: calc(min(100vw - 32px, 768px));
}
#messages {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 40px;
	right: 0;
	overflow-y: scroll;
}
#messages p {
	margin: 4px 0;
	line-height: 24px;
	font-size: 12pt;
}
#messages span.info {
	color: var(--sh);
}
#message {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid var(--lt);
	border-radius: 4px;
	padding: 4px 8px;
	width: calc(100% - 16px);
	height: 24px;
	line-height: 24px;
	background-color: var(--in);
	font-size: 12pt;
	transition:
		border-width ease 0.25s,
		border-color ease 0.25s;
}
#message:focus {
	border: 2px solid var(--sh);
	outline: none;
}
