:root {
	--fg: #e8e8e8;
	--lg: #c0c0c0;
	--mg: #808080;
	--dg: #404040;
	--bg: #000000;

	--fgblue: #a0a0e8;
}
body {
	margin: 0;
	background-color: var(--bg);
	color: var(--fg);
	font-family: "Inter", sans-serif;
}
h1, h2, h3, p {
	margin: 0;
}
button, a.button {
	text-decoration: none;
	border: 0;
	border-radius: 8px;
	box-shadow:
		0 0 0 0 var(--bg),
		0 0 0 1px var(--fg);
	transition: box-shadow ease 0.25s;
	padding: 8px 16px 8px 16px;
	background-color: var(--bg);
	color: var(--fg);
	font-size: 12pt;
	font-weight: 700;
}
button.icon, a.button.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 0;
	width: 32px;
	height: 32px;
	font-size: 16pt;
	font-weight: 400;
}
button:hover, a.button:hover {
	box-shadow:
		0 0 0 2px var(--bg),
		0 0 0 3px var(--fg);
	cursor: pointer;
}
.cols {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 16px;
}
.col {
	display: block;
	flex-grow: 1;
}
section.align-right {
	display: block;
	margin-left: auto;
	width: fit-content;
	height: fit-content;
}
@media only screen and (max-width: 800px) {
	.cols {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.col {
		flex-grow: 0;
		width: fit-content;
		height: fit-content;
	}
}
